@using Gurutw.Models
@model RegisVerifyCodeViewModel
@{

    Layout = "~/Views/Shared/_Layout4.cshtml";

}


<div class="container">
    <div class="jumbotron" style="margin-top:100px;">
        <h1 class="display-4">Hello , @Session["regis-user"]</h1>
        <p class="lead">Welcome to GURU - where anyone can shopping!</p>
        <hr class="my-4">
        @using (Html.BeginForm("VerifyRegisCode", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            if (Session["wrong-code"] != null)
            {
                <p class="text-danger">@Session["wrong-code"]</p>
            }
            <p>Please verify your account</p>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control codeverify" })
                </div>
                @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
            </div>
            <input type="submit" class="btn btn-dark btn-lg mt-3" value="Verify" />
        }
        <p>More questions and queries, please visit our FAQ or contact us.</p>
    </div>
</div>


