<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/Assets/Styles/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/Assets/Styles/StylesheetsLayout.css">
    <title>Guru</title>
    @RenderSection("topCSS", required: false)
</head>

<body>
    <header class="fixed-top">
        <div class="frame-container main-header">
            <div class="top-menu">
                <div class="logo-image" onclick="location.href='/Home/Index'">
                    <a href="#"><img src="~/Assets/Images/Index-images/logo-img2.png" alt=""></a>
                </div>
                <div class="phone-menu">
                    <span onclick="openNav()"><i class="fas fa-bars openbar"></i></span>
                    <span onclick="closeNav()"><i class="fas fa-times closebar"></i></span>
                </div>
                <div class="main-menu-center">
                    <div class="menu-item" data-sub-menu="product">
                        <a href="#">PRODUCTS</a><i class="fas fa-chevron-right"></i>
                        <div class="center-menu-sub product" id="product">
                            <div>
                                <ul>
                                    <li><a href="~/headset">HEADSETS</a></li>
                                    <li><a href="~/mouse">MICE</a></li>
                                    <li><a href="~/keyboard">KEYBOARDS</a></li>
                                    <li><a href="~/headset">COOLING</a></li>
                                    <li><a href="~/headset">FANS</a></li>
                                    <li><a href="~/headset">MEMORY</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><a href="~/headset">GAME PCS</a></li>
                                    <li><a href="~/headset">POWER SUPPLY UNITS</a></li>
                                    <li><a href="~/headset">HOT NEW PRODUCT</a></li>
                                    <li><a href="~/headset">CASES</a></li>
                                    <li><a href="~/headset">MOUSE PADS</a></li>
                                    <li><a href="~/headset">ACCESSORIES | PARTS</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><a href="~/headset">GURU ICUE</a></li>
                                    <li><a href="~/headset">GAMING CHAIRS</a></li>
                                    <li><a href="~/headset">STORAGE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item" data-sub-menu="showcase">
                        <a href="#">SHOWCASE</a><i class="fas fa-chevron-right"></i>
                        <div class="center-menu-sub showcase" id="showcase">
                            <div>
                                <ul>
                                    <li><a href="~/headset">HOT NEW PRODUCTS</a></li>
                                    <li><a href="~/headset">BUILDERS SHOWCASE</a></li>
                                    <li><a href="~/headset">GURU ICUE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item" data-sub-menu="support">
                        <a href="#">SUPPORT</a><i class="fas fa-chevron-right"></i>
                        <div class="center-menu-sub support" id="support">
                            <div>
                                <ul>
                                    <li><a href="~/headset">DOWNLOADS</a></li>
                                    <li><a href="~/headset">CUSTOMER SUPPORT</a></li>
                                    <li><a href="~/headset">KNOWLEDGE BASE</a></li>
                                    <li><a href="~/headset">FAQs</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><a href="~/headset">WARRANTY</a></li>
                                    <li><a href="~/headset">MEMORY FINDER</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item" data-sub-menu="community">
                        <a href="#">COMMUNITY</a><i class="fas fa-chevron-right"></i>
                        <div class="center-menu-sub community" id="community">
                            <div>
                                <ul>
                                    <li><a href="~/headset">FORUMS</a></li>
                                    <li><a href="~/headset">BLOGS</a></li>
                                    <li><a href="~/headset">HOW-TO GUIDES</a></li>
                                    <li><a href="~/headset">PRESS ROOM</a></li>
                                    <li><a href="~/headset">WALLPAPER</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item" data-sub-menu="gaming">
                        <a href="#">GAMING</a><i class="fas fa-chevron-right"></i>
                        <div class="center-menu-sub gaming" id="gaming">
                            <div>
                                <ul>
                                    <li><a href="~/headset">GURU GAMING</a></li>
                                    <li><a href="~/headset">ESPORTS</a></li>
                                    <li><a href="~/headset">STREAMERS</a></li>
                                    <li><a href="~/headset">STUDENTS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu-right">
                <div id="search-input">
                    <form method="get" action="/Home/Search">
                        <button id="do-search" class="do-search" type="submit"><i class="fas fa-search search-2"></i></button>
                        <input type="text" name="keywords" placeholder="Search for Product">
                        <i id="cancel-search" class="fas fa-times"></i>
                    </form>
                </div>
                <div id="search-1"><a href="#"><i class="fas fa-search search-1"></i></a></div>              
                @if(Session["m_name"] == null)
                {
                <div id="user"><a href="/Account/Login"><i class="fas fa-user"></i></a></div>
                }
                @if (Session["m_name"] != null)
                {
                    <div class="loged-in-user" style="">
                        <a href="">@Session["m_name"]</a>
                        <div class="loged-in-user-sub-menu" style="">
                            <div><a href="/Home/Logout" class="logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;LOGOUT</a></div>
                            <div><a href="/Member/Member_Manager" class=""><i class="fas fa-user-edit"></i>&nbsp;&nbsp;MEMBER MANAGEMENT</a></div>
                            <div><a href="/Member/Cart" class=""><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;SHOPPING CART</a></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer-menu">
        <div class="frame-container menu-for-footer">
            <div>
                <h3>SUPPORT</h3>
                <ul>
                    <li><a href="~/headset">Downloads</a></li>
                    <li><a href="~/headset">Customer Support</a></li>
                    <li><a href="~/headset">FAQs</a></li>
                    <li><a href="~/headset">Warranty</a></li>
                    <li><a href="~/headset">RMA/Returns</a></li>
                </ul>            
            </div>
            <div>
                <h3>SHOPPING</h3>
                <ul>
                    <li><a href="~/headset">Where to Buy</a></li>
                    <li><a href="~/headset">Memory Finder</a></li>
                </ul>
            </div>
            <div>
                <h3>COMPANY</h3>
                <ul>
                    <li><a href="~/headset">About</a></li>
                    <li><a href="~/headset">Careers</a></li>
                    <li><a href="~/headset">Contact</a></li>
                    <li><a href="~/headset">Press Room</a></li>
                </ul>
            </div>
            <div>
                <h3>COMMUNITY</h3>
                <ul>
                    <li><a href="~/headset">Blog</a></li>
                    <li><a href="~/headset">Forums</a></li>
                    <li><a href="~/headset">Builders Showcase</a></li>
                    <li><a href="~/headset">How-To Guides</a></li>
                </ul>
            </div>
            <div>
                <ul class="fb-ig-tw-yt">
                    <li><a href="~/headset"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="~/headset"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="~/headset"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="~/headset"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copy-right">
            <div class="frame-container">
                <div class="copy-right">Copyright © 2019 GURU. All rights reserved.</div>
                <div>
                    <span><a href="~/headset">Privacy Policy</a></span>
                    <span> - </span>
                    <span><a href="~/headset">Terms of Use</a></span>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#search-1').on("click", function () {
            $('#search-1').hide();            
            $('.main-menu-center').hide();
            $('#search-input').show();
            $('.main-menu-right').css('width', '1200')
        });

        $('#cancel-search').on("click", function () {
            $('#search-input').hide();
            if (window.matchMedia("(max-width: 800px)").matches) {
                $('.main-menu-center').hide();
            }
            else {
                $('.main-menu-center').show();
            }
            $('#search-1').show();
            $('.main-menu-right').width(300);
        });

        $('[data-sub-menu]').click(function () {

            var target = $(this).data('sub-menu');
            $('.center-menu-sub').hide();
            $("#" + target).show();
        });

        function openNav() {
            $('.main-menu-center').css('left','0');
            $('.openbar').hide();
            $('.closebar').show();
        }

        function closeNav() {
            $('.main-menu-center').css('left','-100%');
            $('.closebar').hide();
            $('.openbar').show();
        }

    </script>
    @RenderSection("endJS", required: false)
</body>

</html>