@model Gurutw.Models.UpdateProfileViewModel
@{
    ViewBag.Title = "Update_Profile";
}

@section topCSS{

    <link href="~/Assets/Styles/updateaccount.css" rel="stylesheet" />
}
<div class="update-account">
    @Html.AntiForgeryToken()
    <form action="/Member/Update_Profile" class="frame-container-update" method="POST">
        <h2>UPDATE ACCOUNT</h2>
        <h4>PERSONAL INFORMATION</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<input type="text" id="username" name="username" placeholder="USERNAME">*@
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = Session["m_name"] } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        @*<input type="text" id="email" name="email" placeholder="EMAIL ADDRESS">*@
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = Session["m_email"] } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        <input type="submit" name="submit" id="submit" value="SUBMIT">
    </form>
</div>
